
body{
  margin: 0%;
}

header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-image: linear-gradient(to right top, rgba(255,0,0,0), rgb(19, 3, 86));
    border-bottom-style: outset  ;
  }


/* 
.bg{
    position: sticky;
    width:1280px;
    height: auto;
    left: -20px;
    top:0;
} */
  
  nav{
    margin-right: 3%;
    
  }
  
  
  nav li {
    float: right;
    margin-top: 2.5%;
    /* list style removes the bullet */
    list-style:none; 

  }
  
  nav li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    padding: 15px;
    /* text decoration is for e.g like underline, line-through(strikethrough look) and overline */
    text-decoration: none;
    
  }
  
  nav li.button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
  }
  
  nav li a:hover {
    background-color: rgb(98, 245, 213);
    text-decoration: none;
    
  }
  
  
  
  
  
  
  /* nav li a:active {
    background-color: rgb(129, 3, 3);
    border-radius: 70%;
  } */
  
  /* --------------------------------------------dropdown---------------------------------------------- */
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: bold;
    color: black;    
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(98, 245, 213);
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* --------------------------------------------logo---------------------------------------------- */
  
  
  svg {
    margin-left: 3%;
    margin-bottom: 1%;
    width:100px; 
    height:100px;
  }
  
  svg#Layer_1:hover {
    animation: hello 1s ease infinite;;
  }
  
  @keyframes hello {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }

    /* -----------------------------background imge top head-------------------------------------- */
    .top-contains img{
      background-image: url('../Sources/GardensByTheBay_pg.jpg');
      background-size: contain;
      width: 98.7vw;
      max-height: 500px;
      overflow: hidden;
  }
  
  .Center-Text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 56px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    justify-content: center;
  }
  /* -----------------------------grid content-------------------------------------- */
  .informations{
    margin-left:5%;
    margin-right: 5%;
  }
  .informations h1{
    font-size: 50px;
    text-align: center;
  }
.salessales{
  margin-bottom: 7%;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5%;
  }

 .inner-sales {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 3%;
 }

 .side-details{
  display: grid;
  grid-template-rows: 20% 10% 50% 20%;
  grid-gap: 1%;
}

/* -----------------------------content-------------------------------------- */

 .salessales h3{
  font-size: 32px;
 }

 .salessales h4#package-name{
  margin-top: 0%;
  font-size: 26px;
  text-align: center;
 }

 .salessales p{
  font-size: 20px;
 }

 .inner-sales img{
  height: 50vw;
  width:45vw;
  object-fit: fill;
}


 .border-line{
  margin-top: 4px;
  border-style: double;
  border-radius: 5px;
  border-color: cadetblue;
  object-fit: fill;
 }

.border-line{
  display: grid;
  grid-template-columns: 70% 25%;
  grid-gap: 5%;
  
}

.border-line h4{
  margin-left: 6%;
  font-size: 22px;
  font-weight: normal;
  justify-content: center;
  align-items: center;  
}

.border-line button{
  margin-top: 10%;
  background-color: aqua;
  border-radius: 7px;
  width:12vw;
  height: 6vw;
}



footer{
  margin-top: 7%;
  text-align: center;
}


@media only screen and (max-width: 768px){

  .top-contains img{
    width: 100vw;
  }

  .inner-sales img{
    height: 50vw;
    width:45vw;
    object-fit: fill;
  }

  .salessales h3{
    font-size: 6vw;
  }

  .salessales h4#package-name{
    font-size: 4vw;
  }
  
  .salessales p{
    font-size: 3vw;
  }

  .side-details{
    display: inline-block;
  }


  .border-line h4{
    font-size: 3vw;
  }

  .border-line button{
    font-size: 3vw;
    width:20vw;
    height:15vw;
  }

}